@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    /* Theme Colors (Change these to re-theme the site!) */
    --color-primary: #90d26d;
    --color-secondary: #f7f1a8;
    --color-accent: #e5c287;
    --color-neutral-light: #bbbbbb;
    --color-neutral-dark: #aaaaaa;

    /* Structural Colors */
    --color-bg-base: #f9f9f9;
    --color-bg-surface: #ffffff;
    --color-text-base: #1a1a1a;
    --color-text-inverse: #ffffff;

    /* Typography */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Playfair Display', ui-serif, Georgia, serif;
}