@import "tailwindcss";

@theme {
    /* Theme Colors (Change these to re-theme the site!) */
    --color-primary: #90d26d;
    --color-secondary: #f7f1a8;
    --color-accent: #e5c287;
    --color-neutral-light: #bbbbbb;
    --color-neutral-dark: #aaaaaa;

    /* Structural Colors */
    --color-bg-base: #f9f9f9;
    --color-bg-surface: #ffffff;
    --color-text-base: #1a1a1a;
    --color-text-inverse: #ffffff;
}